{% extends 'base.html' %}
{% load static %}
{% block content %}
<div  class="container pt-4 ">
  <div class="row">
    {% for items in books %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img class="card-img-top" src="{{items.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{items.title}}</h5>
          <p class="card-text">{{items.excerpt}}</p>
          <a href="#" class="btn btn-primary">View book</a>
        </div>
      </div>
    </div>
   {% endfor %} 
  </div>
</div>

    {% endblock content  %}

   

   