{% extends 'base.html' %}
{% load static %}
{% block content %}
<div  class="container pt-4 ">
  {% for cats in categories %}
  <a href="{% url 'category' cats.slug %}" class="btn btn-secondary">{{cats.name}}</a>
  {% endfor %}
  <div class="row">
    {% for items in books %}
    <div class="col-md-4 my-4">
      <div class="card my-4 h-100 shadow ">
        <img class="card-img-top" height="50%" width="100%" src="{{items.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{items.title}}</h5>
          <p class="card-text">{{items.excerpt}}</p>
          <a href="{% url 'book_details' items.id %}" class="btn btn-primary">View book</a>
        </div>
      </div>
    </div>
   {% endfor %} 
  </div>
</div>
<br>
    {% endblock content  %}

   

   