{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="{{ book.image.url }}" class="img-fluid" alt="{{ book.title }}">
      </div>
      <div class="col-md-8">
        <h1>{{ book.title }}</h1>
        <h2>by {{ book.author }}</h2>
        <p>{{ book.excerpt }}</p>
        <a href="{{ book.material.url }}" class="btn btn-primary" download>Download Book</a>
        <a href="{{ book.material.url }}" class="btn btn-danger" >Read Book</a>
      </div>
    </div>
  </div>
  <br>
{% endblock content  %}